@import "../../index.css";

.fontTost {
  font-family: sansarif;
  font-size: 13px;
}

.bg_light {
  background: url("../../assets/image/Register/1.png") no-repeat,
    linear-gradient(269.02deg, #9f0099 0.01%, #66008c 103.57%);
  height: 100vh;
  min-height: 730px;
  background-position: center;
  background-size: 100%;
}

.bg_dark {
  background: url("../../assets/image/Register/dark1.png") no-repeat, #373747;
  height: 100vh;
  min-height: 730px;
  background-position: center;
  background-size: 100%;
}

.iconRegister {
  padding: 30px;
  background: url(../../assets/image/Register/2.png) 49% 0% no-repeat;
}

.signup {
  margin: 0px 4px 0px 116px;
  cursor: pointer;
}

.login {
  margin: 0px 0px 0px 3px;
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.erorr {
  direction: rtl;
  font-size: 13px;
  color: red;
  margin: 9px;
  width: 90%;
}

@media screen and (max-width: 750px) {
  .bg_light {
    background: linear-gradient(269.02deg, #9f0099 0.01%, #66008c 103.57%);
    height: 100vh;
  }

  .bg_light {
    background: #373747;
    height: 100vh;
  }

  .holder_content {
    justify-content: center !important;
  }
}
